html{
  scroll-behavior: smooth;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: museo-slab, sans-serif;
  font-size: 18px;
  color:rgb(0, 0, 0);
}

/* ---------------------------------Header--------------------------------- */
.homepage {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/sona-grass-png.png');
  z-index: -1;
  background-repeat: no-repeat;
}
/* ---------------------------------END HEADER--------------------------------- */

/* ---------------------------------NAV--------------------------------- */
nav{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 2.4rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar-logo {
  background-color: rgba(63, 63, 63, 0.6);
}

#logo { 
  animation-name: animateLogoIn;
  animation-duration: 1s;
  width: 50px;
  height: 50px;
} 

@keyframes animateLogoIn {
  from {
      opacity: 0;
  }
  to { 
      opacity: 1;
  }
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(63, 63, 63, 0.6);
  margin: 1 em;
  padding: 0;
  overflow: hidden;
}

nav a{
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration-line: none;
}

nav li:hover{
  background-color: rgba(63, 63, 63, 0.6);
  text-decoration: underline dotted rgb(255, 255, 255) 3px;
}

.current {
  text-decoration: underline solid rgb(255, 255, 255) 2px;
  text-shadow: 2px 2px rgb(199, 0, 230);
}
/* ---------------------------------END NAV--------------------------------- */


/* ---------------------------------SKIP TO MAIN--------------------------------- */
.skip a{
  background: rgba(143, 143, 143, 0.6);
  left: 0px;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  transition: top 0.5s ease-in;
  left:0px;
  top:0px;
}
/* ---------------------------------END SKIP TO MAIN--------------------------------- */

*:focus {
  border: 2px dotted rgb(0, 0, 0);
}

h1{
  font-size: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h2{
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

h3{
  font-size: 2.5rem;
  text-align: center;
}

/* ---------------------------------HOMEPAGE--------------------------------- */
.title-box {
  margin: auto;
  width: 60%;
  background-color: rgba(63, 63, 63, 0.6);
  border-radius: 10px;
}

.home-title {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 3px 3px rgb(199, 0, 230);
  padding-left: 25px;
  padding-right: 25px;  
}
/* ---------------------------------END HOMEPAGE--------------------------------- */

/* ---------------------------------PRICING / CARDS--------------------------------- */
.card {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 25px 0;
}

.card > ul{
  list-style: none;
  padding-left: 5px;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
  
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 5%;
  border-radius: 7px;
  background: rgb(199, 0, 230);
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.card h2 {
  color:rgb(255, 255, 255)
}

.card h3{
  font-size: 4em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.card > header {
  background: rgb(199, 0, 230);
  border: 2px solid rgb(236, 120, 254);
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.pricing{
display: flex;
justify-content: center;
align-items:center; 
flex-wrap: wrap;
}

.card {
display: flex;
flex-basis: 450px;
flex-direction: column;
}

/* ---------------------------------END PRICING / CARDS--------------------------------- */

/* ---------------------------------KITTIES GALLERY--------------------------------- */
.container {
  padding-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/* ---------------------------------END KITTIES GALLERY--------------------------------- */

/* ---------------------------------CONTACT FORM--------------------------------- */
.contact{
  background-image: url('../images/sona-study-buddy.JPG');
  font-size: 2em;
}

form {
  border: 3px solid rgba(143, 143, 143, 0.6);
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left: 18%;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: rgb(199, 0, 230);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}
/* ---------------------------------END CONTACT FORM--------------------------------- */

footer{
  position: sticky;
  height: 20%;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(63, 63, 63, 0.6);
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---------------------------------TABLET VIEW--------------------------------- */
@media screen and (min-width: 550px){

  i {
    color: white;
    width: 10px;
    padding: 10px;
    object-fit: contain;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer {
    font-size: 24px;
  }

}

/* ---------------------------------DESKTOP VIEW--------------------------------- */
@media screen and (min-width: 1200px){

  i {
    color: white;
    width: 10px;
    padding: 10px;
    object-fit: contain;
  }

  nav {
    font-size: 2em;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer {
    font-size: 24px;
  }

}

/* ---------------------------------FORMS MOBILE VIEW--------------------------------- */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}

/* ---------------------------------PREFERS-REDUCED-MOTION--------------------------------- */
@media (prefers-reduced-motion: reduce){
  #logo{
      animation: none;
  }

  .homepage {
    background-attachment: local; 
  }
}

