html{
  scroll-behavior: smooth;
}

:root {
  --color-1: rgb(146, 211, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
.homepage {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: white;
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/sona-grass-png.png');
  background-repeat: no-repeat;
}
/* END HEADER */

/* NAV */
nav{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.5em;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(63, 63, 63, 0.6);
  margin: 1 em;
  padding: 0;
  overflow: hidden;
}

nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration-line: none;
}

nav li:hover{
  background-color: rgba(142, 142, 142, 0.6);
  text-decoration: underline dotted rgb(146, 211, 255) 3px;
}

  .current{
  text-decoration: underline solid rgb(146, 211, 255) 2px;
  text-shadow: 1px 1px rgb(146, 211, 255);
}
/* END NAV */


/* SKIP TO MAIN */
.skip a{
  background: rgba(255, 255, 255, 0.6);
  left: 0px;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  transition: top 1s ease-in;
  left:0px;
  top:0px;
}
/* END SKIP TO MAIN */

*:focus {
  border: 2px solid black;
}

body{
  margin: auto;
  font-family: museo-slab, sans-serif;
  font-size: 18px;
}

h1{
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.home-title {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 3px 3px rgb(41, 41, 41);
}

h2{
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
}

h3{
  font-size: 30px;
  text-align: center;
}

.home{
  text-align: center;
}


.card {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 25px 0;

}

.card > ul{
  list-style: none;
  padding-left: 5px;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
  
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 5%;
  border-radius: 7px;
  background: #26a530aa;
  color: white;
  font-size: 1em;
}

.card h3{
  font-size: 4em;
  color: white;
  text-align: center;
}

.card > header {
  background: #26a530aa;
  border: 2px solid #26d7349c;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.pricing{
display: flex;
justify-content: center;
align-items:center; 
flex-wrap: wrap;
}

.card {
display: flex;
flex-basis: 450px;
flex-direction: column;
}

.container {
  padding-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.contact{
  background-image: url('../images/sona-study-buddy.JPG');
  /* font-size: 2em; */
}

footer{
  position: sticky;
  height: 20%;
  width: 100%;
  color: white;
  background-color: rgba(63, 63, 63, 0.6);
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Tablet View */
@media screen and (min-width: 650px){

  i {
    color: white;
    width: 10px;
    padding: 10px;
    object-fit: contain;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  footer {
    font-size: 24px;
  }

}

@media screen and (min-width: 1200px){

  i {
    color: white;
    width: 10px;
    padding: 10px;
    object-fit: contain;
}

nav {
  font-size: 2.5em;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  footer {
    font-size: 24px;
  }

}