html{
  scroll-behavior: smooth;
}

:root {
  --color-primary: #5c00ac;
  --color-secondary: #e3c4fe;
  --color-extra: #f9b69d;
  --color-dark: #050041;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: rgb(255, 255, 255);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: museo-slab, sans-serif;
  font-size: 18px;
  color:rgb(0, 0, 0);
}

/* ---------------------------------HEADER--------------------------------- */
.homepage {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/sona-grass-png.png');
  z-index: -1;
  background-repeat: no-repeat;
}

.pricing-header {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/esma-squat-table.jpg');
  z-index: -1;
  background-repeat: no-repeat;
}

.kitties-header {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/sona-flower-4.JPG');
  z-index: -1;
  background-repeat: no-repeat;
}

.contact-header {
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  align-content: center;
  color: rgb(255, 255, 255);
  height: 100vh; /* Parallax effect */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url('../images/sona-study-buddy.JPG');
  z-index: -1;
  background-repeat: no-repeat;
}
/* ---------------------------------END HEADER--------------------------------- */

/* ---------------------------------NAV--------------------------------- */
.navbar {
  width: 100%;
  height: auto;
  background-color: rgba(63, 63, 63, 0.6);
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--color-secondary);
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}

#logo { 
  animation-name: animateLogoIn;
  animation-duration: 1s;
  width: 50px;
  height: 50px;
} 

@keyframes animateLogoIn {
  from {
      opacity: 0;
  }
  to { 
      opacity: 1;
  }
}

nav li:hover{
  background-color: rgba(63, 63, 63, 0.6);
  text-decoration: underline dashed rgb(255, 255, 255) 3px;
}

.current {
  text-decoration: underline solid rgb(255, 255, 255) 2px;
  text-shadow: 2px 2px rgb(199, 0, 230);
}
/* ---------------------------------END NAV--------------------------------- */


/* ---------------------------------SKIP TO MAIN--------------------------------- */
.skip a{
  background: rgba(143, 143, 143, 0.6);
  left: 0px;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  transition: top 0.5s ease-in;
  left:0px;
  top:0px;
}
/* ---------------------------------END SKIP TO MAIN--------------------------------- */

/* ---------------------------------STD HOMEPAGE STYLES--------------------------------- */
.title-box {
  margin: auto;
  margin-top: 35vh;
  width: 60%;
  background-color: rgba(63, 63, 63, 0.6);
  border-radius: 10px;
}

.home-title {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 3px 3px rgb(199, 0, 230);
  padding-left: 25px;
  padding-right: 25px;  
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

/* STD HOME BOX SPECS */
.box {
  margin-bottom: 30px;
}

.box-inner {
  max-width: 700px;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

.box-text {
  margin-top: 20px;
}

.box-f .box-text {
  max-width: 600px;
}

/* STD HOME GRID SPECS */
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

/* STD HOME BG COLORS */
.bg-primary {
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}
.bg-extra {
  background-color: var(--color-extra);
  color: #000;
}

/* STD HOME TEXT */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

/* STD HOME PADDING */
.py-sm {
  padding: 10px 0;
}
.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}
/* ---------------------------------END STD HOMEPAGE STYLES--------------------------------- */

/* ---------------------------------PRICING / CARDS--------------------------------- */
.card {
  margin: 12px;
  background: rgb(255, 255, 255);
  border: 3px solid var(--color-secondary);
  border-radius: 7px;
  padding: 0 0 25px 0;
}

.card > ul{
  list-style: none;
  padding-left: 5px;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
  
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 5%;
  border-radius: 7px;
  background: rgb(199, 0, 230);
  color: rgb(255, 255, 255);
  border: 3px solid var(--color-secondary);
  font-size: 1em;
}

.card h2 {
  color:rgb(255, 255, 255)
}

.card h3{
  font-size: 4em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.card > header {
  background: rgb(199, 0, 230);
  border: 2px solid rgb(236, 120, 254);
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.pricing{
display: flex;
justify-content: center;
align-items:center; 
flex-wrap: wrap;
}

.card {
display: flex;
flex-basis: 450px;
flex-direction: column;
}

/* ---------------------------------END PRICING / CARDS--------------------------------- */

/* ---------------------------------KITTIES GALLERY--------------------------------- */
.container {
  padding-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/* ---------------------------------END KITTIES GALLERY--------------------------------- */

/* ---------------------------------CONTACT FORM--------------------------------- */
.contact{
  background-image: url('../images/sona-study-buddy.JPG');
  font-size: 2em;
}

form {
  border: 3px solid rgba(143, 143, 143, 0.6);
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
  width:15%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span{
  margin-left: 18%;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: rgb(199, 0, 230);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}
/* ---------------------------------END CONTACT FORM--------------------------------- */

/* ---------------------------------FOOTER--------------------------------- */
footer{
  position: sticky;
  height: 20%;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(63, 63, 63, 0.6);
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ---------------------------------END FOOTER--------------------------------- */

/* ---------------------------------HAMBURGER MENU ICON--------------------------------- */
/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: rgb(255, 255, 255);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 85px;
  right: 0;
  background-color: #fff;
  color: #000;
  width: 90%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

.mobile-menu div {
  margin-top: 20px;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}
/* ---------------------------------END HAMBURGER MENU ICON--------------------------------- */

/* ---------------------------------STD GLOBAL STYLES--------------------------------- */
*:focus {
  border: 2px dashed rgb(0, 0, 0);
}


h1{
  font-size: 5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h2{
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

h3{
  font-size: 2.5rem;
  text-align: center;
}

/* ---------------------------------TABLET VIEW--------------------------------- */
@media screen and (max-width: 770px){
  .hamburger {
    display: block;
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
  }

  .navbar .navbar-nav {
    display: none;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-reversed :first-child {
    order: 0;
  }

  span{
    margin-left: 10px;
  }

}

/* ---------------------------------DESKTOP VIEW--------------------------------- */
@media screen and (min-width: 1250px){
  

  footer {
    font-size: 24px;
  }

}

/* ---------------------------------FORMS MOBILE VIEW--------------------------------- */
@media screen and (min-width: 770px) {
  form{
    width: 80%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
 }
 
 div + label{
    line-height: 25vh;
    vertical-align:top;
 }
}

/* ---------------------------------PREFERS-REDUCED-MOTION--------------------------------- */
@media (prefers-reduced-motion: reduce){
  #logo{
      animation: none;
  }

  .homepage {
    background-attachment: local; 
  }
  .pricing-header {
    background-attachment: local; 
  }
  .kitties-header {
    background-attachment: local; 
  }
  .contact-header {
    background-attachment: local; 
  }
}

